body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin: 0;
 padding: 0;
 background: linear-gradient(135deg, #2a2a2a, #6c6c6c);
 color: #f4f4f4;
}
h1 {
 text-align: center;
 color: #00bcd4;
 margin: 20px 0;
 font-size: 2.5em;
}
.container {
 max-width: 1200px;
 margin: 20px auto;
 padding: 20px;
 background: #333;
 border-radius: 12px;
 box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.section {
 margin-bottom: 40px;
}
form {
 padding: 20px;
 background: #444;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
label {
 display: block;
 margin: 10px 0 5px;
 color: #ddd;
}
input {
 width: calc(100% - 22px);
 padding: 12px;
 margin-bottom: 15px;
 border: 2px solid #00bcd4;
 border-radius: 6px;
 background: #555;
 color: #fff;
}
button {
 background-color: #00bcd4;
 color: #fff;
 border: none;
 padding: 12px 24px;
 border-radius: 6px;
 cursor: pointer;
 font-size: 18px;
}
button:hover {
 background-color: #0097a7;
}
canvas {
 border: 2px solid #00bcd4;
 background-color: #ddd;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
 width: 100%; /* Adjust canvas width to be responsive */
 max-width: 500px; /* Keep a maximum width for larger screens */
}
#ohmCanvas, #wheatstoneCanvas {
 border: 1px solid #000;
 width: 100%; /* Make canvases responsive */
 height: auto; /* Adjust height based on width */
 max-width: 500px;
}
.resistor-group {
 margin: 10px 0;
}

.output, .tutorial {
 margin: 20px;
 padding: 20px;
 background-color: #555;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 text-align: center;
}
.tutorial {
 text-align: left;
}
.resistor-group {
 margin: 15px 0;
}
.resistor-group input {
 width: calc(50% - 22px);
 display: inline-block;
 margin-right: 10px;
 background: #666;
}
.add-resistor {
 background-color: #4caf50;
}
.add-resistor:hover {
 background-color: #388e3c;
}
@media (max-width: 768px) {
 .container {
     padding: 10px;
 }
 form {
     padding: 10px;
 }
 input{
    width: 90%;
 }
 button{
  width: 100%;
 }
 .resistor-group input {
     width: 100%;
     display: block;
     margin: 5px 0;
 }
 canvas {
     width: 100%; /* Ensure canvas is full width on smaller screens */
 }
}
